@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

@theme {
  /* Cores Antigas */
  /* --color-primary: #2d3d4d;
  --color-secondary: #1a2a3a;
  --color-terciary: #334555;

  --color-text-primary: #ffffff;
  --color-text-secondary: #9ca3af;
  --color-text-transp: #06b6d4; */

  --color-button: #0152e1;
  --color-dark: #021229;
  --color-bluelight: #2EB1E9;
  --color-secondlight: #f88512;
  --color-seconddark: #b66009;
}

@layer base {
  body {
    /* @apply bg-bgDeep text-[#F0F2FF] font-sans antialiased overflow-x-hidden; */
    font-family: "Nunito", sans-serif;
  }
}

/* Animação do Loader Orbital herdada do seu projeto original */
@keyframes spin-slow { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
@keyframes spin-reverse { 0% { transform: rotate(360deg); } 100% { transform: rotate(0deg); } }

.animate-spin-slow { animation: spin-slow 8s linear infinite; }
.animate-spin-reverse { animation: spin-reverse 4s linear infinite; }
